.contacts {
  &__content {
    margin-top: 48px;

    --columns: 2;

    display: grid;
    column-gap: 20px;

    @include on-tablet {
      column-gap: 24px;

      --columns: 6;

      margin-top: 56px;
    }

    @include on-desktop {
      --columns: 12;
    }
  }

  &__form {
    background-color: aquamarine;
    width: 100vw;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 1 / 6;
    }
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
    background-color: #f8f8fa;
    border-radius: 8px;
    border: 1px solid transparent;
    padding-left: 16px;

    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 400;

    &:hover {
      border-color: #d5d7de;
    }

    &:active,
    &:focus {
      border-color: #292929;
      outline: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 1000px #f8f8fa inset;
      -webkit-text-fill-color: #191919;
      transition: background-color 9999s ease-out 0s;
    }

    &--message {
      width: 100%;
      height: 148px;
      padding-bottom: 100px;
    }
  }

  &__info {
    margin-top: 48px;
    margin-bottom: 64px;

    grid-column: 1/-1;

    @include on-tablet {
      margin-top: 80px;
      margin-bottom: 120px;
      grid-column: 2 / -2;

      @include on-desktop {
        margin: 0;
        grid-row: 1;
        grid-column: 7 / 13;
      }
    }

    &--block {
      margin: 24px;
    }
  }

  &--value {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #9393a3;
    margin-bottom: 8px;

    margin-top: 0;
    padding: 0;
  }

  &--text {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #191919;

    margin: 0;
    padding: 0;
  }
}

.contacts__info--containerText {
  @include hover(transform, translateX(10px) scale(1.05));
}

.contacts__info--text {
  text-decoration: none;
  color: $main-text-color;
}
