.header {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-image: url('/src/images/background-image.png');
}

.header__content {
  box-sizing: border-box;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

@media (min-width: 576px) {
  .header__content {
    padding-inline: 72px;
  }
}

@media (min-width: 1024px) {
  .header__content {
    padding-inline: 120px;
  }
}

.header__bottom {
  padding-bottom: 40px;
}

@media (min-width: 576px) {
  .header__bottom {
    padding-bottom: 65px;
  }
}

.header__title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
}

@media (min-width: 576px) {
  .header__title {
    font-size: 48px;
  }
}
