.nav {
  color: #292929;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.nav__link {
  position: relative;

  font-size: 22px;
  line-height: 100%;
  color: inherit;
  text-decoration: none;
  letter-spacing: 2px;
}

.nav__link .container {
  box-sizing: border-box;
  padding-block: 24px;
  padding-inline: 20px;

  @include on-tablet {
    padding-block: 36px;
    padding-inline: 72px;
  }

  @include on-desktop {
    padding-inline: 120px;
  }
}

.nav__link::after {
  content: '';

  position: absolute;
  bottom: -4px;
  left: 0;
  transform-origin: left;
  transform: scale(0);

  width: 100%;
  height: 1px;

  opacity: 0;
  background-color: #292929;

  transition: transform 0.3s;
}

.nav__link:hover::after {
  transform: scale(1);
  opacity: 0.5;
}
