.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  padding-block: 24px;

  @include on-tablet {
    padding-block: 36px;
  }
}

.top-bar__logo {
  display: flex;
  width: 125px;
  height: 16px;
  transition: transform 0.3s;
}

.top-bar__logo:hover {
  transform: scale(1.2);
}

@media (min-width: 576px) {
  .top-bar__logo {
    width: 172px;
    height: 24px;
  }
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

@media (min-width: 576px) {
  .top-bar__icons {
    gap: 32px;
  }
}
